# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/

# ML model weights (large files)
ml_models/weights/*.pth

# macOS
.DS_Store

# VSCode
.vscode/
